<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:trackee-app-production.up.railway.app</string>
		<string>applinks:0.0.0.0:8080?mode=developer</string>
		<string>applinks:192.168.88.41?mode=developer</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.cz.batektomas.trackee.alpha</string>
	</array>
</dict>
</plist>
